{% extends 'base_judiciaire.html'%}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <p>Objet: {{pv.objet}}</p>
        <hr>
        <p>Affaire: {{pv.affaire}}</p>
        <hr>
        <p>Incrimination: {{pv.incrimination}}</p>
        <hr>
        <a href="{% url 'judiciaire:update_confrontation' pv_id=pv.id %}" class="btn btn-info"> Modifier </a>
        <a href="{% url 'judiciaire:delete_confrontation' pv_id=pv.id %}" class="btn btn-danger"> Supprimer</a>
    </div>
    <div class="col-md-6">
        {{pv.description|safe}}
    </div>
</div>
{% endblock %}