{% extends  'base_judiciaire.html'%}
{% block content%}
<div class="row">
    <div class="col-md-3">
        <a href="{% url 'judiciaire:save_interrogatoire' %}" class="btn btn-lg btn-secondary"> Ajouter un PV</a>
    </div>
    <div class="col-md-9">
        {% for interrogatoire in listInterrogatoire %}
        <div class="card">
            <h5 class="card-header">Objet: {{interrogatoire.objet}}</h5>
            <div class="card-body">
                <h5 class="card-title">Affaire: {{interrogatoire.affaire}} </h5>
                <p class="card-text">Incrimination: {{interrogatoire.incrimination}}</p>
                <a href="{% url 'judiciaire:detail_interrogatoire' pv_id=interrogatoire.id %}" class="btn btn-primary">Détail</a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}