{% extends 'base_poste.html'%}
{% load static %}
{% block stylesheet %}
 <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
{% endblock%}
{% block content%}
    <div class="accident-item-box">
        <h3 style="text-align: center;">Registre de la {{registre.nom}}</h3>
        <hr>
        <p> Brigade: {{ registre.brigade}}</p>
        <p>Chef de poste:{{ registre.brigade.chef_de_poste}}</p>
        <p>Secretaire: {{registre.brigade.secretaire}}</p>
        <p>Chauffeur: {{registre.brigade.chauffeur}}</p>
        <p>Police Secours: {{registre.brigade.police_secours}}</p>
        <div class="card  mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Date: {{registre.date}}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero Mention</th>
                                <th>Heure</th>
                                <th>Motif</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Numero Mention</th>
                                <th>Heure</th>
                                <th>Motif</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for mainCourante in listMainCourante %}
                            <tr>
                                <td>{{mainCourante.numero_mention}}</td>
                                <td>{{mainCourante.heure}}</td>
                                <td>{{mainCourante.motif}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="{% url 'poste:save_main_courante' id=registre.id %}">Ajouter une main courante</a>
    </div>
{% endblock %}
{% block javascript%}
 <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock%}