{% extends 'base.html'%}
{% block content %}
     <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h6> Accident </h6>
                <hr>
                <div class="row">
                {% for accident in listAccident %}

                    <div class="card text-center col-md-6">
                        <div class="card-header">
                            {{accident.type_accident}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{accident.numero_accident}} à {{accident.lieu_accident}}</h5>
                            <p class="card-text">Survenu le {{accident.date_accident}} à  {{accident.heure_accident}}</p>
                            <a href="{% url 'accident:detail_accident' accident_id=accident.id%}" class="btn btn-primary">Voir plus</a>
                        </div>
                        <div class="card-footer text-muted">
                            Etabli par: l'Agent de Police: {{accident.etabli_par}}
                        </div>
                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
     </div>
{% endblock %}