{% extends 'base.html'%}
{% block content%}
 <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h6 style="text-align: center;" > Audition </h6>
                <div class="row">
                    <div class="col-md-3">
                        <p>Objet: {{pv.objet}}</p>
                        <hr>
                        <p>Affaire: {{pv.affaire}}</p>
                        <hr>
                        <p>Incrimination: {{pv.incrimination}}</p>
                        <hr>
                        <a href="{% url 'accident:update_audition' pv_id=pv.id %}" class="btn btn-info"> Modifier </a>
                        <a href="{% url 'accident:delete_audition' pv_id=pv.id %}" class="btn btn-danger"> Supprimer</a>
                    </div>
                    <div class="col-md-6">
                        {{pv.description|safe}}
                    </div>
                </div>
            </div>
        </div>
 </div>
{% endblock %}