{% extends 'base.html'%}
{% block content%}
 <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h6 style="text-align: center;" > Notification à garde à vue</h6>
                <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'accident:save_notification'%}" class="btn btn-lg btn-secondary"> Ajouter un PV</a>
                    </div>
                    <div class="col-md-9">
                        {% for notification in listNotification %}
                        <div class="card">
                            <h5 class="card-header">Objet: {{notification.objet}}</h5>
                            <div class="card-body">
                                <h5 class="card-title">Affaire: {{notification.affaire}} </h5>
                                <p class="card-text">Incrimination: {{notification.incrimination}}</p>
                                <a href="{% url 'accident:detail_notification' pv_id=notification.id %}" class="btn btn-primary">Détail</a>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
 </div>
{%endblock%}