{% extends 'base_judiciaire.html'%}
{% block content%}
<div class="row accident-item-box" style="color:black" >
    <div class="col-md-3">
        <p>Objet: {{pv.objet}}</p>
        <hr>
        <p>Affaire: {{pv.crime.affaire}}</p>
        <hr>
        {% if pv.vuEtTransmis%}
        <p>Vu et Transmis</p>
        <hr>
        {% endif %}
        {% if pv.ouvertureEnquete%}
        <p>Ouverture d'enquête</p>
        <hr>
        {% endif %}
        <p>Incrimination: {{pv.crime.incrimination}}</p>
        <hr>
        <a href="{% url 'judiciaire:update_saisine' pv_id=pv.id%}" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
            </span>
            <span class="text">Modifier </span>
        </a>
        <br>
        <br>
         <a href="{% url 'judiciaire:pdf_saisine' id=pv.id%}" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-file-pdf"></i>
            </span>
            <span class="text">Generer un pdf </span>
        </a>
    </div>
    <div class="col-md-9">
        {{pv.description|safe}}
    </div>
</div>
{% endblock %}